@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "src/styles/tailwindColors";

body {
  position: relative;
}

#simplified-toggle {
  .dot {
    transform: translateX(0%);
  }
  &.simplified .dot {
    transform: translateX(140%);
  }
}

main {
  height: 100vh;
  overflow: hidden;
}

#toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#main-table {
  position: relative;
  overflow: auto;

  table {
    table-layout: fixed;
    min-width: 100vw;
    overflow: auto;

    thead {
      th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
      }

      th:nth-child(1) {
        z-index: 10 !important;
      }
    }

    tbody {
      tr.row-subject.even {
        td {
          background-color: $white;
        }
      }

      tr.row-subject.odd {
        td {
          background-color: $gray-100;
        }
      }

      tr.row-domain td {
        z-index: 10;
        background-color: $gray-200;
        position: -webkit-sticky;
        position: sticky;
        top: 66px;

        border-bottom: 1px solid $gray-300;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        &:nth-child(1) {
          z-index: 11;
        }
      }
    }

    tr th:nth-child(1),
    tr td:nth-child(1) {
      z-index: 2;
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      max-width: 175px;
      min-width: 175px;
    }

    tr th:not(:nth-child(1)),
    tr td:not(:nth-child(1)) {
      min-width: 150px;
      max-width: 150px;
      overflow: hidden;
    }
  }
}
